# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Logs and reports
*.log
/test-output/
/target/extent/
/target/cucumber-reports/

# OS files
.DS_Store
Thumbs.db
