<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ECommerceFullTestFramework Suite" verbose="1">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
        <!-- Auto-apply retry to all @Test methods via annotation transformer -->
        <listener class-name="com.eCommerceTest.listeners.RetryAnnotationTransformer"/>
    </listeners>
    <test name="Cucumber Unified">
        <classes>
            <class name="com.eCommerceTest.runners.ParallelTestRunner"/>
            <class name="com.eCommerceTest.runners.SequentialTestRunner"/>
        </classes>
    </test>
</suite>